# Create .env and add, with your real credentials:

# --- Production Environment ---
PROD_DB_URL="postgresql://postgres.<PROD_PROJECT_ID>:<PASSWORD>@<PROD_REGION>.pooler.supabase.com:5432/postgres"

# --- Target/Test Environment ---
TARGET_DB_URL="postgresql://postgres.<TARGET_PROJECT_ID>:<PASSWORD>@<TARGET_REGION>.pooler.supabase.com:5432/postgres"