# Create .env and add, with your real credentials:

# --- Production Environment (VELO) ---
IPV6_PROD_DB_URL="postgresql://postgres:<PASSWORD>@db.<PROD_PROJECT_REFERENCE>.supabase.co:5432/postgres"
# Pooled connection string in case your network does not support IPv6 routing.
PROD_DB_URL="postgresql://postgres.<PROD_PROJECT_ID>:<PASSWORD>@<PROD_REGION>.pooler.supabase.com:5432/postgres"

# --- Target/Test Environment (PERSONAL) ---
IPV6_TEST_DB_URL="postgresql://postgres:<PASSWORD>@db.<TEST_PROJECT_REFERENCE>.supabase.co:5432/postgres"
# Pooled connection string in case your network does not support IPv6 routing.
TEST_DB_URL="postgresql://postgres.<PROD_PROJECT_ID>:<PASSWORD>@<PROD_REGION>.pooler.supabase.com:5432/postgres"
