# Create .env and add, with your real credentials. Using direct connections (require IPv6).

# --- Production Environment ---
PROD_DB_URL="postgresql://postgres:<PASSWORD>@db.<PROD_REF>.supabase.co:5432/postgres"

# --- Target/Test Environment ---
TEST_DB_URL="postgresql://postgres:<PASSWORD>@db.<TEST_REF>.supabase.co:5432/postgres"
